ul {
  padding-left: 10px;
}

li {
    padding: 5px;
    /* margin: 5px; */
    /* background: #faebd7; */
    list-style-type: none;
  }
  
  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
  }
  
  .form-group {
    margin-bottom: 5px;
  }

img {
  width: 300px;
}

h1 {
  margin: 0;
}
  
#head {
  margin: 0 auto;
  width: 400px;
  /* width: 100%; */
  border: solid black 3px;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 10px;
  /* background: lightblue; */
  margin-bottom: 10px;
}

#left {
  float: left;
  border: solid black 3px;
  margin: 10px;
  width: 400px;
  padding: 20px;
  padding-top: 10px;
}

#right{
  float: left;
  border: solid black 3px;
  margin: 10px;
  width: 400px;
  padding: 20px;
  padding-top: 10px;
}

#add {
  clear: both;
  border: solid black 3px;
  margin: 0 auto;
  width: 600px;
  padding: 20px;
  padding-top: 0px;
}

#food {
  width: 940px;
  margin: 0 auto;
  /* border: solid black 3px; */
  /* height: 400px;  */
}

#new {
  width: 390px;
}
